{% extends 'master.html.twig' %}

{% block title %}TiposServicios{% endblock %}

{% block content %}
    <h1>TiposServicios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipos_servicio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipos_servicio.nombre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ tipos_servicio.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipos_servicios_index') }}">back to list</a>

    <a href="{{ path('tipos_servicios_edit', {'id': tipos_servicio.id}) }}">edit</a>

    {{ include('tipos_servicios/_delete_form.html.twig') }}
{% endblock %}
