{% extends 'master.html.twig' %}

{% block title %}Manual index{% endblock %}

{% block content %}
    <h1>Manual index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manual in manuals %}
            <tr>
                <td>{{ manual.id }}</td>
                <td>{{ manual.nombre }}</td>
                <td>{{ manual.url }}</td>
                <td>
                    <a href="{{ path('manual_show', {'id': manual.id}) }}">show</a>
                    <a href="{{ path('manual_edit', {'id': manual.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manual_new') }}">Create new</a>
{% endblock %}
