{% extends 'master.html.twig' %}

{% block title %}PartNumber index{% endblock %}

{% block content %}
    <h1>Part / Product Numbers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Product Number</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for part_number in part_numbers %}
            <tr>
                <td>{{ part_number.partnumber }}</td>
                <td>{{ part_number.marca.nombre }}</td>
                <td>{{ part_number.modelo.nombre }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('part_number_show', {'id': part_number.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('part_number_edit', {'id': part_number.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('part_number_new') }}">Crear</a>
{% endblock %}
