{% extends 'master.html.twig' %}

{% block title %}Materiales index{% endblock %}

{% block content %}
    <h1>Materiales index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Id_linea_presupuesto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiale in materiales %}
            <tr>
                <td>{{ materiale.id }}</td>
                <td>{{ materiale.nombre }}</td>
                <td>{{ materiale.idLineaPresupuesto }}</td>
                <td>
                    <a href="{{ path('materiales_show', {'id': materiale.id}) }}">show</a>
                    <a href="{{ path('materiales_edit', {'id': materiale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('materiales_new') }}">Create new</a>
{% endblock %}
