{% extends 'master.html.twig' %}

{% block title %}Materiales{% endblock %}

{% block content %}
    <h1>Materiales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiale.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ materiale.nombre }}</td>
            </tr>
            <tr>
                <th>Id_linea_presupuesto</th>
                <td>{{ materiale.idLineaPresupuesto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('materiales_index') }}">back to list</a>

    <a href="{{ path('materiales_edit', {'id': materiale.id}) }}">edit</a>

    {{ include('materiales/_delete_form.html.twig') }}
{% endblock %}
