{% extends 'master.html.twig' %}

{% block title %}Situacion index{% endblock %}

{% block content %}
    <h1>Situacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>IdTr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situacion in situacions %}
            <tr>
                <td>{{ situacion.id }}</td>
                <td>{{ situacion.nombre }}</td>
                <td>{{ situacion.idTr }}</td>
                <td>
                    <a href="{{ path('situacion_show', {'id': situacion.id}) }}">show</a>
                    <a href="{{ path('situacion_edit', {'id': situacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('situacion_new') }}">Create new</a>
{% endblock %}
