{% extends 'master.html.twig' %}

{% block content %}EstadosClinica{% endblock %}

{% block body %}
    <h1>EstadosClinica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estados_clinica.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ estados_clinica.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estados_clinica_index') }}">back to list</a>

    <a href="{{ path('estados_clinica_edit', {'id': estados_clinica.id}) }}">edit</a>

    {{ include('estados_clinica/_delete_form.html.twig') }}
{% endblock %}
